<h2 id="title">Welcome to Ember.js</h2>

{{outlet}}

{{#if (this.isEnabled 'acceptance-feature')}}
  <div class="acceptance-feature-on">ACCEPTANCE FEATURE ON</div>
{{else}}
  <div class="acceptance-feature-off">ACCEPTANCE FEATURE OFF</div>
{{/if}}

{{#if (this.isEnabled 'featureFromConfig')}}
  <div class="feature-from-config-on">CONFIG FEATURE ON</div>
{{else}}
  <div class="feature-from-config-off">CONFIG FEATURE OFF</div>
{{/if}}

<button {{on "click" this.toggleAcceptanceFeatureOff}} class="test-turn-acceptance-off" type="button">Turn Acceptance Feature off</button>
<button {{on "click" this.toggleAcceptanceFeatureSetupOff}} class="test-turn-acceptance-setup-off" type="button">Turn Acceptance Feature off (Setup)</button>
